@import "./index.scss";

body{
  background-color: $bg;
  color: $color;
}

.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $sidebar;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 5%;
	align-self: start;

	a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: $color;
		display: block;
		transition: 0.3s;

		&:hover {
			color: $hover;
		}
	}

	.closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
}

.sidebar.open {
	width: 250px;
	transition: 0.5s;
}

#main {
	transition: margin-left 0.5s;
	/* padding: 16px; */
}

nav {
	background-color: $nav !important;
	.nav-link {
		color: $color !important;
	}
  .navbar-text{
    margin-right: 1%;
    color: $color;
  }
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    color: $color;
    padding: 15px;
    border: none;
    &:hover {
      color: $hover;
    }
  }
}

.navbar > .container {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  margin: 0;
  padding: 0;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
		a {
			font-size: 18px;
		}
	}
}
