//Vars
$color: #cccccc; //text color
$gold: #d1ac00; //stars
$verdigris: #53b3ae; //accent color
$lapis-lazuli: #105e8e; //accent color
$bg: #2d3047; //bg color
$space-cadet-2: #333752; //card/container background colors
$nav: #1c1e2d; //nav color
$sidebar: #161824; //sidebar color
$hover: #858585;
$search: #868bb4; //Search Bar 
//Imports
@import "../node_modules/bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

//Mixins
@mixin flexCenter {
	display: flex;
	align-content: center;
	justify-content: center;
}

.searchBar{
	background-color:$search;
	color: #FAFAFA;
	text-align: center;
	font-size: 1.3em;
	border-radius: 10px;
	&::placeholder{
		color: #FAFAFA;
	}

}